/*Banner Style*/

.banner-image{
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    top: 0px;
    
}

.banner-title{
    text-align: right;
    font-weight: 600px;
    font-size: 60px;
    position: absolute;
    left: 760px;
    top: 250px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
    
}

.banner-subtitle{
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    left: 800px;
    top: 550px;
    right: 170px;
}

/*Contact button style*/
.basic-button{
    position: absolute;
    left: 1075px;
    top: 660px;
    border-radius: 8px;
    font-size: 15px;
    padding: 10px 15px;
    color: blue;
}

.plans{
    display: flex;
    padding: 2px 220px;
    align-items: center;
    margin-bottom: 0px;
    font-family: 'Work Sans', sans-serif;
    
    
}

.plans div{
    padding:65px;
    text-align: center;
}

/*Gradient style*/

.gradient-image{
    background-image:    linear-gradient(to right, rgba(5, 20, 104, 0.52), rgba(245, 239, 244, 0.73)), url(../images/watch.png);
    
    height: 200px;
    border-radius: 6px;
    margin: 50px 200px;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: contain;

}

.gradient-text{
    color: #FFFFFF;
    margin-left: 60px;
    /*margin-top: 10px; */
    padding: 0px;
   
}

.gradient-button{
    
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 20px;
    color:darkslateblue;
    margin-left:60px ;
    margin-top: 0px;
    border: 0px;
}

.gradient-text{
    margin-top: 80px;
    font-family: 'Work Sans', sans-serif;
}

/*Footer style*/

.footer-text{
    color: white;
    margin: 50px 180px;
    font-family: 'Work Sans', sans-serif;
}

.footer-flex{
    color: white;
    margin: 50px 20px;
}

.footer-button{
    margin-top: 10px;
    background-color:mediumblue;
    padding: 10px;
    border-radius: 5px;
    width: 95px;
    color: white;
    border: 0px;

}

.display-flex{
    font-family: work sans-serif;
}

.inputemail{
    padding:8px;
    background-color: black;
    border-radius: 5px;
   
}

/*Extra work of assignment is added*/

.extraworkheading{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.extraworkinfo{
    color:rgb(19, 16, 58);
    background-color:rgb(200, 214, 122);
    text-align: center;
    margin: 0px 250px;
    padding: 40px;
    display: flex;
    border-radius: 10px;
    height: 150px;
    font-family: 'Work Sans', sans-serif;


}